<!--Skapa ny biljett-->
<%- include("header.ejs") %>

<h1>Create a ticket</h1>
<form method="POST" action="/ticket" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" required>

    <label for="description">Description</label>
    <textarea name="description" id="description" required></textarea>

    <label for="category">Category</label>
    <select name="category" id="category" required>
        <% categories.forEach(function(category) { %>
            <option value="<%= category.id %>"><%= category.name %></option>
        <% }) %>
    </select>

    <label for="file">Attach file</label>
    <input type="file" name="file" id="file">

    <button type="submit">Create Ticket</button>
</form>

<!-- Existerande kunskapsboxar -->
<div class="knowledge-base-container">
    <div class="knowledge-box">
        <h3>How do I create a ticket?</h3>
        <p>Hover on the menu button in the top left corner. There you will see a text that says "Create Ticket". Click on the text and you will be redirected to a page where you can create a ticket. Fill in the title, description and choose a category. If you want to attach a file or image, you can do that as well. When you are done, click on the "Create Ticket" button.</p>
        <a href="/">Read more</a>
    </div>
    
    <div class="knowledge-box">
        <h3>Where can I find the tickets?</h3>
        <p>Hover on the menu button in the top left corner. There you will see a text that says "Ticket List". Click on the text and you will be redirected to a page where you can see all the tickets. You can also filter the tickets by category, status, and description. If you want to see more information about a ticket, click on the "View" button.</p>
        <a href="/tickets">Read more</a>
    </div>
    
    <div class="knowledge-box">
        <h3>How do I create a category?</h3>
        <p>Hover on the menu button in the top left corner. There you will see a text that says "Create Category". Click on the text and you will be redirected to a page where you can create a category. Fill in the name of the category and click on the "Create Category" button.</p>
        <a href="/categories/create">Read more</a>
    </div>
</div>




<%- include("footer.ejs") %>